#bio {
    
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 14px;
    border: 0.5px solid #cccccc;
    line-height: 135%;
    margin-bottom: 40px;
}

body{
    background-color: #f0f0f0;
    background-image: url("wavegrid.png");
}

html, body, div, span, applet, object, iframe,
h1, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777777;
    border-color: #dddddd
}

#header {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;   
    margin: 0 auto;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
    color: white;
  }

#inner {
    width: 960px;
    margin: 0 auto;
    color: #e9e9e9;
}
  
 
  
  #name{
      float: left;
      width: 150px;
      height: 50px;      
      text-align: center;
      background-color: #4aaaa5;
      color: white;

  }
  .about{
      float: right;
      width: 70px;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      vertical-align: middle;

  }
  .folio{
      float: right;
      width: 70px;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;

  }
.contact{
    float: right;
    width: 70px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

p {
    vertical-align: middle;
}

.tab {
    
    display: inline;
}

.bioimage {
	width: 225px;
    height: 225px;
    float: left;
    padding-right: 40px;
   
}

.end {
    margin: 0;
}

.foot {
    background-color: #666666;
    color: white;
    text-align: center;
    height: 50px;
    border-top: 10px solid teal;
    font-size: 8pt;
   
    
}

.footnote {
    padding-top: 20px;
    color: rgb(200,200,200);
}

a {
    text-decoration: none;
}

.textarea {
    width: 935px;
    height: 200px;
    margin: 0 auto;
}

input[type=submit] {
    font-size: 14pt;
    background-color: #4aaaa5;
    padding: 6px;
}

.form {
    padding-top: 6px;
    padding-bottom: 6px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.gallery {
    width: 800px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff
    border: 0.5px solid #cccccc;   
}

.galleryimage {
    width: 400px;
    height: 225px;
    padding: 8px;
    
}

/* Gallery Image Styling */

#ageraimg {
    float: left;
    z-index: -1;
}

#zondaimg {
    float: left;
}

#chironimg {
    float: left;
}

/* Banner Styling */

#agera {
    position: absolute;
    top: 250px;
    left: 22px;
    width: 384px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    background-color: #4aaaa5;
    color: white;
}

#vulcan {
    position: absolute;
    top: 250px;
    left: 422px;
    width: 384px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    background-color: #4aaaa5;
    color: white;
}

#zonda {
    position: absolute;
    top: 475px;
    left: 22px;
    width: 384px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    background-color: #4aaaa5;
    color: white;
}

#gt3 {
    position: absolute;
    top: 475px;
    left: 422px;
    width: 384px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    background-color: #4aaaa5;
    color: white;
}

#chiron {
    position: absolute;
    top: 700px;
    left: 22px;
    width: 384px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    background-color: #4aaaa5;
    color: white;
}

#p1 {
    position: absolute;
    top: 700px;
    left: 422px;
    width: 384px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
    background-color: #4aaaa5;
    color: white;
}